<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hive Discover</title>
    <meta name="twitter:description" content="Our AI will find anything on HIVE. Look what it got for you!">
    <meta name="twitter:image" content="../assets/img/Logo-Modern.jpg">
    <meta name="description" content="Our AI will find anything on HIVE. Look what it got for you!">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Hive-Discover">
    <link rel="icon" type="image/jpeg" sizes="250x250" href="../assets/img/Favicon.jpg">
    <link rel="icon" type="image/gif" sizes="500x500" href="../assets/img/Hive-Discover-Logo-Block.gif">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="../manifest.json">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="ha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href="https://raw.githubusercontent.com/hive-discover/hive-discover/main/Logo/Favicon.jpg" rel="icon">
</head>

<body>
    <div style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-md-4" id="author-card-holder">
                    <div class="card clickable" style="width: 100%;margin: auto;margin-bottom: 20px;" onclick="openHiveSite(&quot;/@{{AUTHOR}}&quot;)"><img class="img-thumbnail card-img-top w-100 d-block" src="../assets/img/blurred-image-1.jpg" loading="lazy" style="min-height: 144px;" name="cover-image"><img class="card-img w-100 d-block" src="../assets/img/default-avatar.png" loading="lazy" style="padding-right: 25%;padding-left: 25%;margin-top: -90px;border-radius: 50%;max-width: 100%;max-height: 100%;" name="profile-image">
                        <div class="card-body">
                            <h4 class="card-title">{{NAME}}</h4>
                            <h6 class="text-muted card-subtitle mb-2">@{{AUTHOR}}</h6>
                            <p class="card-text text-center" style="color: rgb(0,0,0);">{{DESCRIPTION}}</p>
                            <p class="card-text text-center" style="color: rgb(0,0,0);">{{LOCATION}}</p>
                            <hr>
                            <div class="row">
                                <div class="col col-md-6 text-center">
                                    <h6>Follower</h6>
                                    <p name="follower-count">...</p>
                                </div>
                                <div class="col col-md-6 text-center">
                                    <h6>Following</h6>
                                    <p name="following-count">...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cards-exists-account"></div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/digistate/resouces/master/multipleFilterMasonry.js"></script>
    <script src="https://cdn.rawgit.com/desandro/masonry/master/dist/masonry.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="https://github.com/mouse0270/bootstrap-notify/releases/download/3.1.3/bootstrap-notify.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../assets/js/script.min.js"></script>
</body>

</html>